@model DeviceDetailsTypeViewModel

@{
    ViewBag.Title = "Device Type Details";
    var photoPath = "~/Images/Devices/" + (Model.DeviceType.PhotoPath ?? "no-photo.png");
}

<div class="row justify-content-center m-3">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <h1>@Model.DeviceType.Name - Id: @Model.DeviceType.Id</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="@photoPath" asp-append-version="true" />
            </div>
            <div class="card-footer text-center">
                <form method="post" asp-action="DeletePhoto" asp-route-id="@Model.DeviceType.Id">
                    <a asp-controller="DeviceType" asp-action="Index" class="btn btn-default">Back</a>
                    <a asp-controller="DeviceType" asp-action="Edit" asp-route-id="@Model.DeviceType.Id" class="btn btn-default m-1">Edit</a>
                    <span id="deleteSpan_@Model.DeviceType.Id">
                        <button type="submit" class="btn btn-default" style="width:auto">Delete Photo</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}
